html,
body {
	height: 100%;
}
body {
	background: #f5f3f2;
	color: #1d1d1d;
	font: 300 13px/16px "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	margin: 0;
	padding: 0;
}
.wrapper {
	padding: 0 5%;
}
#global-masthead {
	background: #93c04b;
	border-bottom: 1px solid #66941c;
	box-shadow: 0 1px 4px rgba(193,197,193,.8);
	-moz-box-shadow: 0 1px 4px rgba(193,197,193,.8);
	-webkit-box-shadow: 0 1px 4px rgba(193,197,193,.8);
	padding: 5px 0;
	position: relative;
	width: 100%;
	z-index: 5;
}
#global-masthead h1 {
	background: url("../images/logo.png") no-repeat;
	background-size: 25px 30px;
	font-size: 18px;
	font-weight: 300;
	padding: 10px 28px 5px;
	margin: 0;
}
#global-masthead h1 a {
	color: #fff;
	text-shadow: 0 -1px #76993e;
}
.secondary-header {
	background: #faf9f8;
	border-bottom: 1px solid #989a98;
	margin: 0 0 10px;
	padding: 15px 0;
}
.secondary-header h2 {
	color: #414040;
	font-size: 24px;
	margin: 0 0 8px;
	text-shadow: 0 -1px 1px #cacaca;
}
.secondary-header p {
	font-weight: 400;
	font-style: italic;
	margin: 0 0 5px;
}
.secondary-header span {
	font-weight: 400;
}
#food {
	background: #faf9f8;
	border: 1px solid #e0e2e0;
	border-spacing: 0;
	border-radius: 4px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 4px;
	box-shadow: 0 1px 3px 0 rgba(193,197,193,.35);
	-moz-box-shadow: 0 1px 3px 0 rgba(193,197,193,.35);
	-webkit-box-shadow: 0 1px 3px 0 rgba(193,197,193,.35);
	text-align: left;
}
#food thead tr {
	background: #93c04b;
	color: #fff;
	box-shadow: 0 1px 3px 0 rgba(193,197,193,.5);
	-moz-box-shadow: 0 1px 3px 0 rgba(193,197,193,.5);
	-webkit-box-shadow: 0 1px 3px 0 rgba(193,197,193,.5);
	border: 1px solid #85af42;
	position: relative;
	text-shadow: 0 -1px #76993e;
	z-index: 2;
}
#food th {
	padding: 10px;
}
#food th:nth-of-type(2) {
	width: 110px;
}
#food tbody tr:nth-child(even) {
	background-color: #f5f3f2;
	box-shadow: inset 0 1px 3px 0 rgba(193,197,193,.3);
	-moz-box-shadow: inset 0 1px 3px 0 rgba(193,197,193,.3);
	-webkit-box-shadow: inset 0 1px 3px 0 rgba(193,197,193,.3);
}
#food td {
	border-left: 1px solid #e0e2e0;
	padding: 10px;
}
#food tbody tr:nth-child(even) td {
	border-top: 1px solid #e0e2e0;
	border-bottom: 1px solid #e0e2e0;
}
a {
	color: #226699;
	font-weight: 500;
	text-decoration: none;
	text-shadow: 0 -1px 1px #fff;
}

a:hover {
	color: #3085c4;
	border-bottom: 1px dotted #ececec;
}
#food td:first-child {
	border-left: none;
	text-transform: capitalize;
	width: 150px;
}
#food td:nth-of-type(2),
#food td:nth-of-type(3) {
	text-align: center;
}
body:after,.header:after,.wrapper:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
